*.class
*.log
*.DS_Store
*.vscode*
hs_err_pid*
.idea/*
!.idea/copyright
!.idea/scopes
!.idea/codeStyles
.gradle
.nb-gradle/
.settings
.project
.classpath
build/
out/
bin/
run/
src/injector/resources/*
